body {
    overflow: hidden;
    user-select: none;
    font-weight: 650;
    font-family: 'Lato', sans-serif;
}

.mainmenu-container {
    position: absolute;
    width: 897px;
    height: 677px;
    background: url(https://cdn.discordapp.com/attachments/967914093396774942/977900661242990592/unknown.png);
    left: 50%;
    top: 50%;
    display: none;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: #000000;
}